<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/test.css">
    <title>Document</title>
</head>

<body>

    <h1>Tests de EJS</h1>


    <h2>list of numbers</h2>
    <ul>

        <% for(let i=0; i <=10 ; i++) { %>
            <li>
                numero <%= i %>
            </li>

            <% } %>
    </ul>


    <br><br><br>
    <%= numeros %>



        <% const rest=numeros.find( (el)=> { %>
            <%= el==11 %>

                <%return rest %>
                    <% } ) %>
                        <%= rest %>


</body>

</html>